#app{
    min-height: 100vh;
}

.hoverperso:hover{
    background-color: white !important;
    color: #0d6efd  !important;
}
.hoverperso{
    background-color: transparent !important;
}


.bg-perso {
    background-color: rgba(255, 255, 255, .11);
    border-radius: 15px;
    margin-bottom: 1rem !important;
    color: white !important;
}
.bg-perso2 {
    background-color: rgba(255, 255, 255, .15);
    border-radius: 15px;
    margin-bottom: 1rem !important;
    color: black !important;
}

.bg-header{
    background-color: rgba(255, 255, 255, .11);
    border-radius: 15px;
    color: white !important;
}

.iconePerso{
    font-size: 4 rem !important;
}